* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body{
    height: 100%;
}

.header{
    width: 100%;
    height: 9.6rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1.6rem;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.encriptador{
    width: 100%;
    min-height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.encriptador__buttons {
    width: 100%;
    height: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.responsescreen {
    width: 100%;
    min-height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}