:root {
    --ligth-blue-300: #E9ECF8;
    --dark-blue-300: #0A3871;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body{
    height: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: var(--ligth-blue-300);
}

.header{
    width: 100%;
    height: 9.6rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1.6rem;
}

/*Principal Contain*/

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Encriptador section */

.encriptador{
    width: 100%;
    min-height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.encriptador__text{
    width: 36rem;
    min-height: 35.5rem;
    border: none;
    background-color: var(--ligth-blue-300);
    font-family: 'Inter';
    font-weight: 400;
    font-size: 3.2rem;
    color: var(--dark-blue-300);
}

.encriptador__buttons {
    width: 100%;
    height: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* Response screen encriptador section */

.responsescreen {
    width: 100%;
    min-height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}