:root {
    --ligth-blue-300: #E9ECF8;
    --dark-blue-300: #0A3871;
    --gray-400: #495057;
    --gray-500:  #343A40;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body{
    height: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: var(--ligth-blue-300);
}

.header{
    width: 100%;
    height: 9.6rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1.6rem;
}

/*Principal Contain*/

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Encriptador section */

.encrypter{
    width: 100%;
    min-height: 56.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.encrypter__text{
    width: 96%;
    max-width: 110rem;
    min-width: 36rem;
    min-height: 35.5rem;
    color: var(--dark-blue-300);
    font-family: 'Inter';
    font-weight: 400;
    font-size: 3.2rem;
    border: none;
    border-radius: 1.2rem;
    padding: 0 0 0 .6rem;
    background-color: var(--ligth-blue-300);
    resize: none;
}

.encrypter__text::placeholder{
    color: var(--dark-blue-300);
}

.encrypter__text:focus {
    border: .1rem solid var(--dark-blue-300);
    outline: 0 none;
}

.advice{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 1.6rem 0;
    font-size: 1.2rem;
}

.advice__text {
    color: var(--gray-400);
    margin-left: .8rem;
}

.encriptador__buttons {
    width: 100%;
    height: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.button {
    width: 34.2rem;
    height: 6.8rem;
    font-family: 'Inter';
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 2.4rem;
    border: .1rem solid var(--dark-blue-300);
}

.btn_encrypt {
    color: white;
    background-color: var(--dark-blue-300);
}

.btn_decrypt {
    color: var(--dark-blue-300);
    background-color: var(--ligth-blue-300);
}

/* Response screen encriptador section */

.responsescreen {
    width: 100%;
    min-height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.responsescreen__response {
    width: 32.8rem;
    min-height: 18.8rem;
    padding: 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter';
    border-radius: 3.0rem;
    box-shadow: 0px 0px 32px 8px rgba(5, 5, 5, 0.203);
    background-color: white;
}

.responseh2 {
    text-align: center;
    font-weight: 700;
    font-size: 2.4rem;
    color: var(--gray-500);
}

.responsep {
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--gray-400);
}

.btn_copy {
    width: 28rem;
    height: 6.8rem;
    margin-top: 3.2rem;
    background-color: white;
    display: none;
}

/*Estilos para dispositivos 375px finalizados*/